In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", None)
import gzip
import json
import sqlalchemy
import datetime
import math

## Formatting Receipts.json.gz

In [2]:
rec_data = [json.loads(line) for line in gzip.open("receipts.json.gz", "r")]
rec_df = pd.DataFrame(rec_data)
rec_df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052

#### Some of the receipts have no items on them, as shown below. We have to drop the empty receipts.

In [3]:
rec_df.iloc[71]

_id                        {'$oid': '5ff475820a7214ada10005cf'}
bonusPointsEarned                                           NaN
bonusPointsEarnedReason                                     NaN
createDate                             {'$date': 1609856386000}
dateScanned                            {'$date': 1609856386000}
finishedDate                                                NaN
modifyDate                             {'$date': 1609856386000}
pointsAwardedDate                                           NaN
pointsEarned                                                NaN
purchaseDate                                                NaN
purchasedItemCount                                          NaN
rewardsReceiptItemList                                      NaN
rewardsReceiptStatus                                  SUBMITTED
totalSpent                                                  NaN
userId                                 5a43c08fe4b014fd6b6a0612
Name: 71, dtype: object

#### We are dropping empty receipts and then reformating IDs

In [4]:
rec_clean_df = rec_df.dropna(subset=['rewardsReceiptItemList']).copy()
order_ids = [i_d['$oid'] for i_d in rec_clean_df._id]
rec_clean_df['receipt_id'] = order_ids
rec_cl_df = rec_clean_df.drop(columns=['rewardsReceiptItemList','_id'])
rec_cl_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,receipt_id
0,500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575
1,150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b
2,5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5,{'$date': 1609632000000},1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a
3,5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f
4,5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561

#### Compare size of receipts dataframes without empty itemsand and with empty items

In [5]:
print(f'This is DF with all receipts: {rec_df.shape}, \n\
This is DF without empty receipts: {rec_clean_df.shape}')

This is DF with all receipts: (1119, 15),
This is DF without empty receipts: (679, 16)

#### Now, lets reformat the date fields

In [6]:
def extract_dates(df,column):
    new_column = []
    for dd in df[column]:
        if type(dd) == dict:
            new_dd = math.trunc(dd['$date']/1000)
            new_dd = pd.to_datetime(new_dd, unit='s')
            new_column.append(new_dd)
        else:
            new_column.append(dd)
    df[column] = new_column
    return df

In [7]:
rec_formatted_df = extract_dates(rec_cl_df, 'createDate')
rec_formatted_df = extract_dates(rec_formatted_df, 'dateScanned')
rec_formatted_df = extract_dates(rec_formatted_df, 'finishedDate')
rec_formatted_df = extract_dates(rec_formatted_df, 'modifyDate')
rec_formatted_df = extract_dates(rec_formatted_df, 'pointsAwardedDate')
rec_formatted_df = extract_dates(rec_formatted_df, 'purchaseDate')

In [8]:
rec_formatted_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,receipt_id
0,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575
1,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b
2,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5,2021-01-03 00:00:00,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a
3,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f
4,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561

#### Checking for datatypes and converting if needed

In [9]:
rec_formatted_df.dtypes

bonusPointsEarned                 float64
bonusPointsEarnedReason            object
createDate                 datetime64[ns]
dateScanned                datetime64[ns]
finishedDate               datetime64[ns]
modifyDate                 datetime64[ns]
pointsAwardedDate          datetime64[ns]
pointsEarned                       object
purchaseDate               datetime64[ns]
purchasedItemCount                float64
rewardsReceiptStatus               object
totalSpent                         object
userId                             object
receipt_id                         object
dtype: object

In [10]:
rec_formatted_df = rec_formatted_df.astype({'pointsEarned': 'float64',
                                            'purchasedItemCount': 'Int64',
                                            'totalSpent': 'float64'})

#### Now let's see our data types :

In [11]:
rec_formatted_df.dtypes

bonusPointsEarned                 float64
bonusPointsEarnedReason            object
createDate                 datetime64[ns]
dateScanned                datetime64[ns]
finishedDate               datetime64[ns]
modifyDate                 datetime64[ns]
pointsAwardedDate          datetime64[ns]
pointsEarned                      float64
purchaseDate               datetime64[ns]
purchasedItemCount                  Int64
rewardsReceiptStatus               object
totalSpent                        float64
userId                             object
receipt_id                         object
dtype: object

## Creating dataframe with items and corresponding receipt_id for our junction table "OrderItemList".

In [12]:
order_item_list_data = [x for x in rec_clean_df.rewardsReceiptItemList]
order_ids = [i_d['$oid'] for i_d in rec_clean_df._id]

In [13]:
for index, order in enumerate(order_item_list_data):
    try:
        for item in order:
            item['receipt_id'] = order_ids[index]
    except TypeError:
        print(f'We have cougth missing value at position {index}')

#### Now , Let's chech if items have receipt_id on them:

In [14]:
order_item_list_data[0:2]

[[{'barcode': '4011',
   'description': 'ITEM NOT FOUND',
   'finalPrice': '26.00',
   'itemPrice': '26.00',
   'needsFetchReview': False,
   'partnerItemId': '1',
   'preventTargetGapPoints': True,
   'quantityPurchased': 5,
   'userFlaggedBarcode': '4011',
   'userFlaggedNewItem': True,
   'userFlaggedPrice': '26.00',
   'userFlaggedQuantity': 5,
   'receipt_id': '5ff1e1eb0a720f0523000575'}],
 [{'barcode': '4011',
   'description': 'ITEM NOT FOUND',
   'finalPrice': '1',
   'itemPrice': '1',
   'partnerItemId': '1',
   'quantityPurchased': 1,
   'receipt_id': '5ff1e1bb0a720f052300056b'},
  {'barcode': '028400642255',
   'description': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
   'finalPrice': '10.00',
   'itemPrice': '10.00',
   'needsFetchReview': True,
   'needsFetchReviewReason': 'USER_FLAGGED',
   'partnerItemId': '2',
   'pointsNotAwardedReason': 'Action not allowed for user and CPG',
   'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
   'preventTargetGapPoints': True,
   'quantityPurchased': 1,
   'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
   'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
   'userFlaggedBarcode': '028400642255',
   'userFlaggedDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
   'userFlaggedNewItem': True,
   'userFlaggedPrice': '10.00',
   'userFlaggedQuantity': 1,
   'receipt_id': '5ff1e1bb0a720f052300056b'}]]

#### Now, when every item in a list have ordet_id we can split them and create items_formatted_df

In [47]:
order_items_list = []
for order in order_item_list_data:
    for item in order:
        order_items_list.append(item)
        
order_item_list_df = pd.DataFrame(order_items_list)
items_formatted_df = order_item_list_df
items_formatted_df.head()

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity,receipt_id,needsFetchReviewReason,pointsNotAwardedReason,pointsPayerId,rewardsGroup,rewardsProductPartnerId,userFlaggedDescription,originalMetaBriteBarcode,originalMetaBriteDescription,brandCode,competitorRewardsGroup,discountedItemPrice,originalReceiptItemText,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,5ff1e1eb0a720f0523000575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,5ff1e1bb0a720f052300056b,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,5ff1e1ee0a7214ada100056f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Checking for data Types and converting is needed

In [48]:
items_formatted_df.dtypes

barcode                                object
description                            object
finalPrice                             object
itemPrice                              object
needsFetchReview                       object
partnerItemId                          object
preventTargetGapPoints                 object
quantityPurchased                     float64
userFlaggedBarcode                     object
userFlaggedNewItem                     object
userFlaggedPrice                       object
userFlaggedQuantity                   float64
receipt_id                             object
needsFetchReviewReason                 object
pointsNotAwardedReason                 object
pointsPayerId                          object
rewardsGroup                           object
rewardsProductPartnerId                object
userFlaggedDescription                 object
originalMetaBriteBarcode               object
originalMetaBriteDescription           object
brandCode                              object
competitorRewardsGroup                 object
discountedItemPrice                    object
originalReceiptItemText                object
itemNumber                             object
originalMetaBriteQuantityPurchased    float64
pointsEarned                           object
targetPrice                            object
competitiveProduct                     object
originalFinalPrice                     object
originalMetaBriteItemPrice             object
deleted                                object
priceAfterCoupon                       object
metabriteCampaignId                    object
dtype: object

In [49]:
items_formatted_df = items_formatted_df.astype({'barcode': 'object',
                                                 'finalPrice': 'float64',
                                                 'itemPrice': 'float64',
                                                 'needsFetchReview': 'bool',
                                                 'partnerItemId': 'object',
                                                 'preventTargetGapPoints': 'bool',
                                                 'quantityPurchased': 'Int64',
                                                 'userFlaggedBarcode': 'object',
                                                 'userFlaggedNewItem': 'bool',
                                                 'userFlaggedPrice': 'float64',
                                                 'userFlaggedQuantity' :'Int64',
                                                 'receipt_id': 'object',
                                                 'needsFetchReviewReason': 'object',
                                                 'pointsNotAwardedReason': 'object',
                                                 'pointsPayerId': 'object',
                                                 'discountedItemPrice': 'float64',
                                                 'originalMetaBriteQuantityPurchased': 'Int64',
                                                 'pointsEarned': 'float64',
                                                 'targetPrice': 'float64',
                                                 'originalFinalPrice': 'float64'
                                                 })

In [18]:
items_formatted_df.dtypes

barcode                                object
description                            object
finalPrice                            float64
itemPrice                             float64
needsFetchReview                         bool
partnerItemId                          object
preventTargetGapPoints                   bool
quantityPurchased                       Int64
userFlaggedBarcode                     object
userFlaggedNewItem                       bool
userFlaggedPrice                      float64
userFlaggedQuantity                     Int64
receipt_id                             object
needsFetchReviewReason                 object
pointsNotAwardedReason                 object
pointsPayerId                          object
rewardsGroup                           object
rewardsProductPartnerId                object
userFlaggedDescription                 object
originalMetaBriteBarcode               object
originalMetaBriteDescription           object
brandCode                              object
competitorRewardsGroup                 object
discountedItemPrice                   float64
originalReceiptItemText                object
itemNumber                             object
originalMetaBriteQuantityPurchased      Int64
pointsEarned                          float64
targetPrice                           float64
competitiveProduct                     object
originalFinalPrice                    float64
originalMetaBriteItemPrice             object
deleted                                object
priceAfterCoupon                       object
metabriteCampaignId                    object
dtype: object

#### Check if we have same number of receipts here as in receipts DF to be sure we haven't missed anything.

In [19]:
items_formatted_df.groupby(by='receipt_id').count().shape[0]

679

## Now let's format users.json.gz

In [20]:
user_data = [json.loads(line) for line in gzip.open("users.json.gz", "r")]
user_df = pd.DataFrame(user_data)
user_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [21]:
users_id_list = [i['$oid'] for i in user_df._id]

In [22]:
user_df._id = users_id_list
user_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [23]:
user_formatted_df = extract_dates(user_df,'createdDate')
user_formatted_df = extract_dates(user_formatted_df,'lastLogin')
user_formatted_df = user_formatted_df.rename(columns={'_id':'user_id'})
print (f'Checking for unique user ids for our DB later on: \n \
Number of rows: {user_formatted_df.shape[0]}\n \
Number of unique ids: {user_formatted_df.nunique()[0]}')

Checking for unique user ids for our DB later on:
 Number of rows: 495
 Number of unique ids: 212

#### Let's get rid of duplicates

In [24]:
user_formatted_df = user_formatted_df.drop_duplicates(subset='user_id')

#### Formating data types:

In [25]:
user_formatted_df.dtypes

user_id                 object
active                    bool
createdDate     datetime64[ns]
lastLogin       datetime64[ns]
role                    object
signUpSource            object
state                   object
dtype: object

## Now, let's format brands.json.gz

In [26]:
br_data = [json.loads(line) for line in gzip.open("brands.json.gz", "r")]
br_df = pd.json_normalize(br_data)
br_formatted_df = br_df.rename(columns={'_id.$oid': 'brand_id', 'cpg.$id.$oid': 'cpg_id', 'cpg.$ref': 'cpg_reference'})
br_formatted_df.head()

,barcode,category,categoryCode,name,topBrand,brand_id,cpg_id,cpg_reference,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

#### Formating data types:

In [27]:
br_formatted_df.dtypes

barcode          object
category         object
categoryCode     object
name             object
topBrand         object
brand_id         object
cpg_id           object
cpg_reference    object
brandCode        object
dtype: object

In [28]:
br_formatted_df = br_formatted_df.astype({'topBrand': 'bool'})

In [29]:
br_formatted_df.dtypes

barcode          object
category         object
categoryCode     object
name             object
topBrand           bool
brand_id         object
cpg_id           object
cpg_reference    object
brandCode        object
dtype: object

## These are our 4 Data Frames for SQL tables
    rec_formatted_df
    items_formatted_df
    user_formatted_df
    br_formatted_df

In [30]:
engine = sqlalchemy.create_engine('sqlite:///fetch_rewards.db', echo = True)

In [31]:
rec_formatted_df.to_sql('temp_receipts', con=engine, if_exists='replace')
items_formatted_df.to_sql('temp_items', con=engine, if_exists='replace')
user_formatted_df.to_sql('temp_users',con=engine, if_exists='replace')
br_formatted_df.to_sql('temp_brands',con=engine, if_exists='replace')

2021-08-16 01:16:09,506 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("temp_receipts")
2021-08-16 01:16:09,506 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,507 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("temp_receipts")
2021-08-16 01:16:09,508 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,510 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,511 INFO sqlalchemy.engine.Engine
CREATE TABLE temp_receipts (
	"index" BIGINT,
	"bonusPointsEarned" FLOAT,
	"bonusPointsEarnedReason" TEXT,
	"createDate" DATETIME,
	"dateScanned" DATETIME,
	"finishedDate" DATETIME,
	"modifyDate" DATETIME,
	"pointsAwardedDate" DATETIME,
	"pointsEarned" FLOAT,
	"purchaseDate" DATETIME,
	"purchasedItemCount" BIGINT,
	"rewardsReceiptStatus" TEXT,
	"totalSpent" FLOAT,
	"userId" TEXT,
	receipt_id TEXT
)


2021-08-16 01:16:09,512 INFO sqlalchemy.engine.Engine [no key 0.00086s] ()
2021-08-16 01:16:09,516 INFO sqlalchemy.engine.Engine CREATE INDEX ix_temp_receipts_index ON temp_receipts ("index")
2021-08-16 01:16:09,517 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2021-08-16 01:16:09,521 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,542 INFO sqlalchemy.engine.Engine INSERT INTO temp_receipts ("index", "bonusPointsEarned", "bonusPointsEarnedReason", "createDate", "dateScanned", "finishedDate", "modifyDate", "pointsAwardedDate", "pointsEarned", "purchaseDate", "purchasedItemCount", "rewardsReceiptStatus", "totalSpent", "userId", receipt_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-16 01:16:09,543 INFO sqlalchemy.engine.Engine [generated in 0.01460s] ((0, 500.0, 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:36.000000', '2021-01-03 15:25:31.000000', 500.0, '2021-01-03 00:00:00.000000', 5, 'FINISHED', 26.0, '5ff1e1eacfcf6c399c274ae6', '5ff1e1eb0a720f0523000575'), (1, 150.0, 'Receipt number 5 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:48.000000', '2021-01-03 15:24:43.000000', 150.0, '2021-01-02 15:24:43.000000', 2, 'FINISHED', 11.0, '5ff1e194b6a9d73a3a9f1052', '5ff1e1bb0a720f052300056b'), (2, 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:37.000000', '2021-01-03 15:25:37.000000', None, '2021-01-03 15:25:42.000000', None, 5.0, '2021-01-03 00:00:00.000000', 1, 'REJECTED', 10.0, '5ff1e1f1cfcf6c399c274b0b', '5ff1e1f10a720f052300057a'), (3, 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:39.000000', '2021-01-03 15:25:34.000000', 5.0, '2021-01-03 00:00:00.000000', 4, 'FINISHED', 28.0, '5ff1e1eacfcf6c399c274ae6', '5ff1e1ee0a7214ada100056f'), (4, 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:06.000000', '2021-01-03 15:25:06.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:06.000000', 5.0, '2021-01-02 15:25:06.000000', 2, 'FINISHED', 1.0, '5ff1e194b6a9d73a3a9f1052', '5ff1e1d20a7214ada1000561'), (5, 750.0, 'Receipt number 1 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:25:24.000000', '2021-01-03 15:25:24.000000', '2021-01-03 15:25:25.000000', '2021-01-03 15:25:30.000000', '2021-01-03 15:25:25.000000', 750.0, '2021-01-02 15:25:24.000000', 1, 'FINISHED', 3.25, '5ff1e1e4cfcf6c399c274ac3', '5ff1e1e40a7214ada1000566'), (6, 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:01.000000', '2021-01-03 15:25:01.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', 5.0, '2021-01-03 15:25:01.000000', 1, 'FINISHED', 2.23, '5ff1e194b6a9d73a3a9f1052', '5ff1e1cd0a720f052300056f'), (7, 500.0, 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:24:20.000000', '2021-01-03 15:24:20.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', 500.0, '2020-12-27 00:00:00.000000', 1, 'FINISHED', 10.0, '5ff1e194b6a9d73a3a9f1052', '5ff1e1a40a720f0523000569')  ... displaying 10 of 679 total bound parameter sets ...  (1114, 25.0, 'COMPLETE_NONPARTNER_RECEIPT', '2021-03-01 10:22:27.000000', '2021-03-01 10:22:27.000000', None, '2021-03-01 10:22:28.000000', None, 25.0, '2020-08-17 00:00:00.000000', 2, 'REJECTED', 34.96, '5fc961c3b8cfca11a077dd33', '603cc0630a720fde100003e6'), (1117, 25.0, 'COMPLETE_NONPARTNER_RECEIPT', '2021-03-01 13:07:28.000000', '2021-03-01 13:07:28.000000', None, '2021-03-01 13:07:29.000000', None, 25.0, '2020-08-17 00:00:00.000000', 2, 'REJECTED', 34.96, '5fc961c3b8cfca11a077dd33', '603ce7100a7217c72c000405'))
2021-08-16 01:16:09,549 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,571 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("temp_items")
2021-08-16 01:16:09,572 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,576 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("temp_items")
2021-08-16 01:16:09,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,586 INFO sqlalchemy.engine.Engine
CREATE TABLE temp_items (
	"index" BIGINT,
	barcode TEXT,
	description TEXT,
	"finalPrice" FLOAT,
	"itemPrice" FLOAT,
	"needsFetchReview" BOOLEAN,
	"partnerItemId" TEXT,
	"preventTargetGapPoints" BOOLEAN,
	"quantityPurchased" BIGINT,
	"userFlaggedBarcode" TEXT,
	"userFlaggedNewItem" BOOLEAN,
	"userFlaggedPrice" FLOAT,
	"userFlaggedQuantity" BIGINT,
	receipt_id TEXT,
	"needsFetchReviewReason" TEXT,
	"pointsNotAwardedReason" TEXT,
	"pointsPayerId" TEXT,
	"rewardsGroup" TEXT,
	"rewardsProductPartnerId" TEXT,
	"userFlaggedDescription" TEXT,
	"originalMetaBriteBarcode" TEXT,
	"originalMetaBriteDescription" TEXT,
	"brandCode" TEXT,
	"competitorRewardsGroup" TEXT,
	"discountedItemPrice" FLOAT,
	"originalReceiptItemText" TEXT,
	"itemNumber" TEXT,
	"originalMetaBriteQuantityPurchased" BIGINT,
	"pointsEarned" FLOAT,
	"targetPrice" FLOAT,
	"competitiveProduct" BOOLEAN,
	"originalFinalPrice" FLOAT,
	"originalMetaBriteItemPrice" TEXT,
	deleted BOOLEAN,
	"priceAfterCoupon" TEXT,
	"metabriteCampaignId" TEXT
)


2021-08-16 01:16:09,587 INFO sqlalchemy.engine.Engine [no key 0.00155s] ()
2021-08-16 01:16:09,591 INFO sqlalchemy.engine.Engine CREATE INDEX ix_temp_items_index ON temp_items ("index")
2021-08-16 01:16:09,592 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2021-08-16 01:16:09,596 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,612 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,731 INFO sqlalchemy.engine.Engine INSERT INTO temp_items ("index", barcode, description, "finalPrice", "itemPrice", "needsFetchReview", "partnerItemId", "preventTargetGapPoints", "quantityPurchased", "userFlaggedBarcode", "userFlaggedNewItem", "userFlaggedPrice", "userFlaggedQuantity", receipt_id, "needsFetchReviewReason", "pointsNotAwardedReason", "pointsPayerId", "rewardsGroup", "rewardsProductPartnerId", "userFlaggedDescription", "originalMetaBriteBarcode", "originalMetaBriteDescription", "brandCode", "competitorRewardsGroup", "discountedItemPrice", "originalReceiptItemText", "itemNumber", "originalMetaBriteQuantityPurchased", "pointsEarned", "targetPrice", "competitiveProduct", "originalFinalPrice", "originalMetaBriteItemPrice", deleted, "priceAfterCoupon", "metabriteCampaignId") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-16 01:16:09,732 INFO sqlalchemy.engine.Engine [generated in 0.09928s] ((0, '4011', 'ITEM NOT FOUND', 26.0, 26.0, 0, '1', 1, 5, '4011', 1, 26.0, 5, '5ff1e1eb0a720f0523000575', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (1, '4011', 'ITEM NOT FOUND', 1.0, 1.0, 1, '1', 1, 1, None, 1, None, None, '5ff1e1bb0a720f052300056b', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (2, '028400642255', 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 10.0, 10.0, 1, '2', 1, 1, '028400642255', 1, 10.0, 1, '5ff1e1bb0a720f052300056b', 'USER_FLAGGED', 'Action not allowed for user and CPG', '5332f5fbe4b03c9a25efd0ba', 'DORITOS SPICY SWEET CHILI SINGLE SERVE', '5332f5fbe4b03c9a25efd0ba', 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (3, None, None, None, None, 0, '1', 1, None, '4011', 1, 26.0, 3, '5ff1e1f10a720f052300057a', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (4, '4011', 'ITEM NOT FOUND', 28.0, 28.0, 0, '1', 1, 4, '4011', 1, 28.0, 4, '5ff1e1ee0a7214ada100056f', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (5, '4011', 'ITEM NOT FOUND', 1.0, 1.0, 1, '1', 1, 1, None, 1, None, None, '5ff1e1d20a7214ada1000561', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (6, '1234', None, 2.56, 2.56, 1, '2', 1, 3, '1234', 1, 2.56, 3, '5ff1e1d20a7214ada1000561', 'USER_FLAGGED', None, None, None, None, '', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (7, '4011', 'ITEM NOT FOUND', 3.25, 3.25, 0, '1', 1, 1, '4011', 1, None, None, '5ff1e1e40a7214ada1000566', None, 'Action not allowed for user and CPG', '5332f5fbe4b03c9a25efd0ba', 'DORITOS SPICY SWEET CHILI SINGLE SERVE', '5332f5fbe4b03c9a25efd0ba', None, '028400642255', 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', None, None, None, None, None, None, None, None, None, None, None, None, None, None)  ... displaying 10 of 6941 total bound parameter sets ...  (6939, 'B076FJ92M4', 'mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd motor also for spices, herbs, nuts,grains, white', 22.97, 22.97, 1, '0', 1, 1, None, 1, None, None, '603ce7100a7217c72c000405', None, None, None, None, None, None, None, None, None, None, 22.97, 'mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd motor also for spices, herbs, nuts,grains, white', None, None, None, None, None, None, None, None, '22.97', None), (6940, 'B07BRRLSVC', 'thindust summer face mask - sun protection neck gaiter for outdooractivities', 11.99, 11.99, 1, '1', 1, 1, None, 1, None, None, '603ce7100a7217c72c000405', None, None, None, None, None, None, None, None, None, None, 11.99, 'thindust summer face mask - sun protection neck gaiter for outdooractivities', None, None, None, None, None, None, None, None, '11.99', None))

2021-08-16 01:16:09,802 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,819 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("temp_users")
2021-08-16 01:16:09,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,820 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("temp_users")
2021-08-16 01:16:09,821 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,825 INFO sqlalchemy.engine.Engine
CREATE TABLE temp_users (
	"index" BIGINT,
	user_id TEXT,
	active BOOLEAN,
	"createdDate" DATETIME,
	"lastLogin" DATETIME,
	role TEXT,
	"signUpSource" TEXT,
	state TEXT
)


2021-08-16 01:16:09,827 INFO sqlalchemy.engine.Engine [no key 0.00145s] ()
2021-08-16 01:16:09,835 INFO sqlalchemy.engine.Engine CREATE INDEX ix_temp_users_index ON temp_users ("index")
2021-08-16 01:16:09,836 INFO sqlalchemy.engine.Engine [no key 0.00107s] ()
2021-08-16 01:16:09,843 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,851 INFO sqlalchemy.engine.Engine INSERT INTO temp_users ("index", user_id, active, "createdDate", "lastLogin", role, "signUpSource", state) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2021-08-16 01:16:09,852 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ((0, '5ff1e194b6a9d73a3a9f1052', 1, '2021-01-03 15:24:04.000000', '2021-01-03 15:25:37.000000', 'consumer', 'Email', 'WI'), (3, '5ff1e1eacfcf6c399c274ae6', 1, '2021-01-03 15:25:30.000000', '2021-01-03 15:25:30.000000', 'consumer', 'Email', 'WI'), (6, '5ff1e1e8cfcf6c399c274ad9', 1, '2021-01-03 15:25:28.000000', '2021-01-03 15:25:28.000000', 'consumer', 'Email', 'WI'), (7, '5ff1e1b7cfcf6c399c274a5a', 1, '2021-01-03 15:24:39.000000', '2021-01-03 15:24:39.000000', 'consumer', 'Email', 'WI'), (9, '5ff1e1f1cfcf6c399c274b0b', 1, '2021-01-03 15:25:37.000000', '2021-01-03 15:25:37.000000', 'consumer', 'Email', 'WI'), (16, '5ff1e1e4cfcf6c399c274ac3', 1, '2021-01-03 15:25:24.000000', '2021-01-03 15:25:24.000000', 'consumer', 'Email', 'WI'), (17, '5ff1e1b4cfcf6c399c274a54', 1, '2021-01-03 15:24:36.000000', '2021-01-03 15:24:36.000000', 'consumer', 'Email', 'WI'), (20, '5ff370c562fde912123a5e0e', 1, '2021-01-04 19:47:17.000000', '2021-01-04 19:50:50.000000', 'consumer', 'Email', 'WI')  ... displaying 10 of 212 total bound parameter sets ...  (462, '5964eb07e4b03efd0c0f267b', 1, '2017-07-11 15:13:11.000000', '2021-03-04 19:07:49.000000', 'fetch-staff', None, 'IL'), (475, '54943462e4b07e684157a532', 1, '2014-12-19 14:21:22.000000', '2021-03-05 16:52:23.000000', 'fetch-staff', None, None))
2021-08-16 01:16:09,854 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,862 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("temp_brands")
2021-08-16 01:16:09,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,864 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("temp_brands")
2021-08-16 01:16:09,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-16 01:16:09,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,867 INFO sqlalchemy.engine.Engine
CREATE TABLE temp_brands (
	"index" BIGINT,
	barcode TEXT,
	category TEXT,
	"categoryCode" TEXT,
	name TEXT,
	"topBrand" BOOLEAN,
	brand_id TEXT,
	cpg_id TEXT,
	cpg_reference TEXT,
	"brandCode" TEXT
)


2021-08-16 01:16:09,867 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2021-08-16 01:16:09,872 INFO sqlalchemy.engine.Engine CREATE INDEX ix_temp_brands_index ON temp_brands ("index")
2021-08-16 01:16:09,873 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()
2021-08-16 01:16:09,876 INFO sqlalchemy.engine.Engine COMMIT
2021-08-16 01:16:09,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-16 01:16:09,886 INFO sqlalchemy.engine.Engine INSERT INTO temp_brands ("index", barcode, category, "categoryCode", name, "topBrand", brand_id, cpg_id, cpg_reference, "brandCode") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-16 01:16:09,887 INFO sqlalchemy.engine.Engine [generated in 0.00496s] ((0, '511111019862', 'Baking', 'BAKING', 'test brand @1612366101024', 0, '601ac115be37ce2ead437551', '601ac114be37ce2ead437550', 'Cogs', None), (1, '511111519928', 'Beverages', 'BEVERAGES', 'Starbucks', 0, '601c5460be37ce2ead43755f', '5332f5fbe4b03c9a25efd0ba', 'Cogs', 'STARBUCKS'), (2, '511111819905', 'Baking', 'BAKING', 'test brand @1612366146176', 0, '601ac142be37ce2ead43755d', '601ac142be37ce2ead437559', 'Cogs', 'TEST BRANDCODE @1612366146176'), (3, '511111519874', 'Baking', 'BAKING', 'test brand @1612366146051', 0, '601ac142be37ce2ead43755a', '601ac142be37ce2ead437559', 'Cogs', 'TEST BRANDCODE @1612366146051'), (4, '511111319917', 'Candy & Sweets', 'CANDY_AND_SWEETS', 'test brand @1612366146827', 0, '601ac142be37ce2ead43755e', '5332fa12e4b03c9a25efd1e7', 'Cogs', 'TEST BRANDCODE @1612366146827'), (5, '511111719885', 'Baking', 'BAKING', 'test brand @1612366146091', 0, '601ac142be37ce2ead43755b', '601ac142be37ce2ead437559', 'Cogs', 'TEST BRANDCODE @1612366146091'), (6, '511111219897', 'Baking', 'BAKING', 'test brand @1612366146133', 0, '601ac142be37ce2ead43755c', '601ac142be37ce2ead437559', 'Cogs', 'TEST BRANDCODE @1612366146133'), (7, '511111104810', 'Condiments & Sauces', None, 'J.L. Kraft', 1, '5cdad0f5166eb33eb7ce0faa', '559c2234e4b06aca36af13c6', 'Cogs', 'J.L. KRAFT')  ... displaying 10 of 1167 total bound parameter sets ...  (1165, '511111400608', 'Grocery', None, 'LIPTON TEA Leaves', 0, '5a021611e4b00efe02b02a57', '5332f5f6e4b03c9a25efd0b4', 'Cogs', 'LIPTON TEA Leaves'), (1166, '511111019930', 'Baking', 'BAKING', 'test brand @1613158231643', 0, '6026d757be37ce6369301468', '6026d757be37ce6369301467', 'Cogs', 'TEST BRANDCODE @1613158231644'))
2021-08-16 01:16:09,891 INFO sqlalchemy.engine.Engine COMMIT

#### Let's make runnig sql queries easy from Jupyter Notebook inline. We'll use "ipython-sql"

In [32]:
%load_ext sql
%sql sqlite:///fetch_rewards.db

#### Now create new tables from the sql statements based on our temporay tables. But here we define Prmary keys and Foreign Keys. We have to do this workaround , baceuse SQLite doesn't support ALTER constraints on existing tables.

In [35]:
%%sql
CREATE TABLE IF NOT EXISTS receipts (
        "index" BIGINT,
        "bonusPointsEarned" FLOAT,
        "bonusPointsEarnedReason" TEXT,
        "createDate" DATETIME,
        "dateScanned" DATETIME,
        "finishedDate" DATETIME,
        "modifyDate" DATETIME,
        "pointsAwardedDate" DATETIME,
        "pointsEarned" FLOAT,
        "purchaseDate" DATETIME,
        "purchasedItemCount" BIGINT,
        "rewardsReceiptStatus" TEXT,
        "totalSpent" FLOAT,
        "userId" TEXT,
        receipt_id TEXT NOT NULL PRIMARY KEY,
        FOREIGN KEY (userId) REFERENCES users (user_id) 
);
CREATE INDEX IF NOT EXISTS ix_receipts_index ON receipts ("index");


CREATE TABLE IF NOT EXISTS users (
        "index" BIGINT,
        user_id TEXT NOT NULL PRIMARY KEY,
        active BOOLEAN,
        "createdDate" DATETIME,
        "lastLogin" DATETIME,
        role TEXT,
        "signUpSource" TEXT,
        state TEXT
);
CREATE INDEX IF NOT EXISTS ix_users_index ON users ("index");


CREATE TABLE IF NOT EXISTS items (
        "index" BIGINT,
        barcode TEXT,
        description TEXT,
        "finalPrice" FLOAT,
        "itemPrice" FLOAT,
        "needsFetchReview" BOOLEAN,
        "partnerItemId" TEXT,
        "preventTargetGapPoints" BOOLEAN,
        "quantityPurchased" BIGINT,
        "userFlaggedBarcode" TEXT,
        "userFlaggedNewItem" BOOLEAN,
        "userFlaggedPrice" FLOAT,
        "userFlaggedQuantity" BIGINT,
        receipt_id TEXT,
        "needsFetchReviewReason" TEXT,
        "pointsNotAwardedReason" TEXT,
        "pointsPayerId" TEXT,
        "rewardsGroup" TEXT,
        "rewardsProductPartnerId" TEXT,
        "userFlaggedDescription" TEXT,
        "originalMetaBriteBarcode" TEXT,
        "originalMetaBriteDescription" TEXT,
        "brandCode" TEXT,
        "competitorRewardsGroup" TEXT,
        "discountedItemPrice" FLOAT,
        "originalReceiptItemText" TEXT,
        "itemNumber" TEXT,
        "originalMetaBriteQuantityPurchased" BIGINT,
        "pointsEarned" FLOAT,
        "targetPrice" FLOAT,
        "competitiveProduct" BOOLEAN,
        "originalFinalPrice" FLOAT,
        "originalMetaBriteItemPrice" TEXT,
        deleted BOOLEAN,
        "priceAfterCoupon" TEXT,
        "metabriteCampaignId" TEXT,
        FOREIGN KEY (receipt_id) REFERENCES receipts (receipt_id),
        FOREIGN KEY (barcode) REFERENCES brands (barcode),
        PRIMARY KEY (receipt_id,barcode)
);
CREATE INDEX IF NOT EXISTS ix_items_index ON items ("index");


CREATE TABLE IF NOT EXISTS brands (
        "index" BIGINT,
        barcode TEXT NOT NULL PRIMARY KEY,
        category TEXT,
        "categoryCode" TEXT,
        name TEXT,
        "topBrand" BOOLEAN,
        brand_id TEXT ,
        cpg_id TEXT,
        cpg_reference TEXT,
        "brandCode" TEXT
);
CREATE INDEX IF NOT EXISTS ix_brands_index ON brands ("index");

 * sqlite:///fetch_rewards.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### So, now we have 4 temp tables (not related) with data. And 4 tables (related) with no data yet. Now we just have to copy data from from temp tables to new related tables.

In [36]:
%%sql
SELECT name FROM sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';

 * sqlite:///fetch_rewards.db
Done.

[('receipts',),
 ('users',),
 ('items',),
 ('brands',),
 ('temp_receipts',),
 ('temp_items',),
 ('temp_users',),
 ('temp_brands',)]

#### Disabling relationships to load data

In [37]:
%%sql
PRAGMA foreign_keys = 0;

 * sqlite:///fetch_rewards.db
Done.

[]

In [38]:
%%sql
INSERT OR IGNORE INTO receipts SELECT * FROM temp_receipts;
INSERT OR IGNORE INTO users SELECT * FROM temp_users;
INSERT OR IGNORE INTO items SELECT * FROM temp_items;
INSERT OR IGNORE INTO brands SELECT * FROM temp_brands;

 * sqlite:///fetch_rewards.db
0 rows affected.
0 rows affected.
3851 rows affected.
0 rows affected.

[]

#### Enabling relationships (Foreign Keys) and cheking the errors.

In [39]:
%%sql
PRAGMA foreign_keys = 1;
PRAGMA foreign_key_check(items);

 * sqlite:///fetch_rewards.db
Done.
Done.

[('items', 1, 'brands', 0),
 ('items', 2, 'brands', 0),
 ('items', 3, 'brands', 0),
 ('items', 5, 'brands', 0),
 ('items', 6, 'brands', 0),
 ('items', 7, 'brands', 0),
 ('items', 8, 'brands', 0),
 ('items', 10, 'brands', 0),
 ('items', 11, 'brands', 0),
 ('items', 12, 'brands', 0),
 ('items', 13, 'brands', 0),
 ('items', 14, 'brands', 0),
 ('items', 15, 'brands', 0),
 ('items', 16, 'brands', 0),
 ('items', 27, 'brands', 0),
 ('items', 30, 'brands', 0),
 ('items', 31, 'brands', 0),
 ('items', 32, 'brands', 0),
 ('items', 43, 'brands', 0),
 ('items', 44, 'brands', 0),
 ('items', 45, 'brands', 0),
 ('items', 46, 'brands', 0),
 ('items', 47, 'brands', 0),
 ('items', 48, 'brands', 0),
 ('items', 49, 'brands', 0),
 ('items', 50, 'brands', 0),
 ('items', 51, 'brands', 0),
 ('items', 52, 'brands', 0),
 ('items', 53, 'brands', 0),
 ('items', 54, 'brands', 0),
 ('items', 55, 'brands', 0),
 ('items', 56, 'brands', 0),
 ('items', 57, 'brands', 0),
 ('items', 59, 'brands', 0),
 ('items', 60, 'brands', 0),
 ('items', 61, 'brands', 0),
 ('items', 62, 'brands', 0),
 ('items', 63, 'brands', 0),
 ('items', 64, 'brands', 0),
 ('items', 65, 'brands', 0),
 ('items', 66, 'brands', 0),
 ('items', 67, 'brands', 0),
 ('items', 68, 'brands', 0),
 ('items', 69, 'brands', 0),
 ('items', 70, 'brands', 0),
 ('items', 71, 'brands', 0),
 ('items', 72, 'brands', 0),
 ('items', 73, 'brands', 0),
 ('items', 74, 'brands', 0),
 ('items', 75, 'brands', 0),
 ('items', 76, 'brands', 0),
 ('items', 77, 'brands', 0),
 ('items', 78, 'brands', 0),
 ('items', 80, 'brands', 0),
 ('items', 81, 'brands', 0),
 ('items', 82, 'brands', 0),
 ('items', 83, 'brands', 0),
 ('items', 84, 'brands', 0),
 ('items', 85, 'brands', 0),
 ('items', 86, 'brands', 0),
 ('items', 87, 'brands', 0),
 ('items', 88, 'brands', 0),
 ('items', 89, 'brands', 0),
 ('items', 91, 'brands', 0),
 ('items', 92, 'brands', 0),
 ('items', 95, 'brands', 0),
 ('items', 96, 'brands', 0),
 ('items', 97, 'brands', 0),
 ('items', 98, 'brands', 0),
 ('items', 99, 'brands', 0),
 ('items', 100, 'brands', 0),
 ('items', 101, 'brands', 0),
 ('items', 102, 'brands', 0),
 ('items', 103, 'brands', 0),
 ('items', 104, 'brands', 0),
 ('items', 105, 'brands', 0),
 ('items', 106, 'brands', 0),
 ('items', 107, 'brands', 0),
 ('items', 108, 'brands', 0),
 ('items', 110, 'brands', 0),
 ('items', 111, 'brands', 0),
 ('items', 112, 'brands', 0),
 ('items', 113, 'brands', 0),
 ('items', 114, 'brands', 0),
 ('items', 125, 'brands', 0),
 ('items', 128, 'brands', 0),
 ('items', 129, 'brands', 0),
 ('items', 130, 'brands', 0),
 ('items', 131, 'brands', 0),
 ('items', 132, 'brands', 0),
 ('items', 133, 'brands', 0),
 ('items', 134, 'brands', 0),
 ('items', 135, 'brands', 0),
 ('items', 138, 'brands', 0),
 ('items', 139, 'brands', 0),
 ('items', 140, 'brands', 0),
 ('items', 141, 'brands', 0),
 ('items', 142, 'brands', 0),
 ('items', 143, 'brands', 0),
 ('items', 144, 'brands', 0),
 ('items', 145, 'brands', 0),
 ('items', 146, 'brands', 0),
 ('items', 147, 'brands', 0),
 ('items', 148, 'brands', 0),
 ('items', 149, 'brands', 0),
 ('items', 150, 'brands', 0),
 ('items', 151, 'brands', 0),
 ('items', 152, 'brands', 0),
 ('items', 153, 'brands', 0),
 ('items', 154, 'brands', 0),
 ('items', 157, 'brands', 0),
 ('items', 159, 'brands', 0),
 ('items', 160, 'brands', 0),
 ('items', 161, 'brands', 0),
 ('items', 162, 'brands', 0),
 ('items', 163, 'brands', 0),
 ('items', 164, 'brands', 0),
 ('items', 165, 'brands', 0),
 ('items', 166, 'brands', 0),
 ('items', 167, 'brands', 0),
 ('items', 168, 'brands', 0),
 ('items', 169, 'brands', 0),
 ('items', 170, 'brands', 0),
 ('items', 171, 'brands', 0),
 ('items', 172, 'brands', 0),
 ('items', 173, 'brands', 0),
 ('items', 174, 'brands', 0),
 ('items', 177, 'brands', 0),
 ('items', 178, 'brands', 0),
 ('items', 179, 'brands', 0),
 ('items', 180, 'brands', 0),
 ('items', 181, 'brands', 0),
 ('items', 182, 'brands', 0),
 ('items', 183, 'brands', 0),
 ('items', 184, 'brands', 0),
 ('items', 185, 'brands', 0),
 ('items', 186, 'brands', 0),
 ('items', 187, 'brands', 0),
 ('items', 188, 'brands', 0),
 ('items', 189, 'brands', 0),
 ('items', 190, 'brands', 0),
 ('items', 191, 'brands', 0),
 ('items', 192, 'brands', 0),
 ('items', 193, 'brands', 0),
 ('items', 194, 'brands', 0),
 ('items', 195, 'brands', 0),
 ('items', 196, 'brands', 0),
 ('items', 199, 'brands', 0),
 ('items', 200, 'brands', 0),
 ('items', 201, 'brands', 0),
 ('items', 204, 'brands', 0),
 ('items', 205, 'brands', 0),
 ('items', 207, 'brands', 0),
 ('items', 208, 'brands', 0),
 ('items', 209, 'brands', 0),
 ('items', 210, 'brands', 0),
 ('items', 211, 'brands', 0),
 ('items', 213, 'brands', 0),
 ('items', 214, 'brands', 0),
 ('items', 215, 'brands', 0),
 ('items', 216, 'brands', 0),
 ('items', 217, 'brands', 0),
 ('items', 218, 'brands', 0),
 ('items', 219, 'brands', 0),
 ('items', 220, 'brands', 0),
 ('items', 221, 'brands', 0),
 ('items', 223, 'brands', 0),
 ('items', 224, 'brands', 0),
 ('items', 225, 'brands', 0),
 ('items', 226, 'brands', 0),
 ('items', 227, 'brands', 0),
 ('items', 228, 'brands', 0),
 ('items', 229, 'brands', 0),
 ('items', 230, 'brands', 0),
 ('items', 231, 'brands', 0),
 ('items', 232, 'brands', 0),
 ('items', 233, 'brands', 0),
 ('items', 244, 'brands', 0),
 ('items', 245, 'brands', 0),
 ('items', 246, 'brands', 0),
 ('items', 247, 'brands', 0),
 ('items', 248, 'brands', 0),
 ('items', 249, 'brands', 0),
 ('items', 250, 'brands', 0),
 ('items', 251, 'brands', 0),
 ('items', 252, 'brands', 0),
 ('items', 253, 'brands', 0),
 ('items', 256, 'brands', 0),
 ('items', 257, 'brands', 0),
 ('items', 258, 'brands', 0),
 ('items', 259, 'brands', 0),
 ('items', 263, 'brands', 0),
 ('items', 264, 'brands', 0),
 ('items', 265, 'brands', 0),
 ('items', 276, 'brands', 0),
 ('items', 277, 'brands', 0),
 ('items', 279, 'brands', 0),
 ('items', 280, 'brands', 0),
 ('items', 282, 'brands', 0),
 ('items', 283, 'brands', 0),
 ('items', 284, 'brands', 0),
 ('items', 286, 'brands', 0),
 ('items', 287, 'brands', 0),
 ('items', 289, 'brands', 0),
 ('items', 290, 'brands', 0),
 ('items', 301, 'brands', 0),
 ('items', 303, 'brands', 0),
 ('items', 304, 'brands', 0),
 ('items', 305, 'brands', 0),
 ('items', 306, 'brands', 0),
 ('items', 307, 'brands', 0),
 ('items', 308, 'brands', 0),
 ('items', 309, 'brands', 0),
 ('items', 310, 'brands', 0),
 ('items', 311, 'brands', 0),
 ('items', 313, 'brands', 0),
 ('items', 314, 'brands', 0),
 ('items', 315, 'brands', 0),
 ('items', 316, 'brands', 0),
 ('items', 317, 'brands', 0),
 ('items', 338, 'brands', 0),
 ('items', 339, 'brands', 0),
 ('items', 340, 'brands', 0),
 ('items', 341, 'brands', 0),
 ('items', 342, 'brands', 0),
 ('items', 343, 'brands', 0),
 ('items', 344, 'brands', 0),
 ('items', 345, 'brands', 0),
 ('items', 346, 'brands', 0),
 ('items', 347, 'brands', 0),
 ('items', 348, 'brands', 0),
 ('items', 349, 'brands', 0),
 ('items', 350, 'brands', 0),
 ('items', 351, 'brands', 0),
 ('items', 352, 'brands', 0),
 ('items', 353, 'brands', 0),
 ('items', 354, 'brands', 0),
 ('items', 355, 'brands', 0),
 ('items', 356, 'brands', 0),
 ('items', 357, 'brands', 0),
 ('items', 358, 'brands', 0),
 ('items', 359, 'brands', 0),
 ('items', 360, 'brands', 0),
 ('items', 361, 'brands', 0),
 ('items', 362, 'brands', 0),
 ('items', 363, 'brands', 0),
 ('items', 364, 'brands', 0),
 ('items', 365, 'brands', 0),
 ('items', 366, 'brands', 0),
 ('items', 367, 'brands', 0),
 ('items', 368, 'brands', 0),
 ('items', 369, 'brands', 0),
 ('items', 370, 'brands', 0),
 ('items', 371, 'brands', 0),
 ('items', 372, 'brands', 0),
 ('items', 373, 'brands', 0),
 ('items', 374, 'brands', 0),
 ('items', 375, 'brands', 0),
 ('items', 376, 'brands', 0),
 ('items', 378, 'brands', 0),
 ('items', 379, 'brands', 0),
 ('items', 380, 'brands', 0),
 ('items', 382, 'brands', 0),
 ('items', 385, 'brands', 0),
 ('items', 387, 'brands', 0),
 ('items', 389, 'brands', 0),
 ('items', 390, 'brands', 0),
 ('items', 392, 'brands', 0),
 ('items', 398, 'brands', 0),
 ('items', 399, 'brands', 0),
 ('items', 402, 'brands', 0),
 ('items', 403, 'brands', 0),
 ('items', 404, 'brands', 0),
 ('items', 405, 'brands', 0),
 ('items', 406, 'brands', 0),
 ('items', 407, 'brands', 0),
 ('items', 408, 'brands', 0),
 ('items', 410, 'brands', 0),
 ('items', 421, 'brands', 0),
 ('items', 422, 'brands', 0),
 ('items', 424, 'brands', 0),
 ('items', 425, 'brands', 0),
 ('items', 430, 'brands', 0),
 ('items', 431, 'brands', 0),
 ('items', 432, 'brands', 0),
 ('items', 433, 'brands', 0),
 ('items', 434, 'brands', 0),
 ('items', 437, 'brands', 0),
 ('items', 441, 'brands', 0),
 ('items', 443, 'brands', 0),
 ('items', 445, 'brands', 0),
 ('items', 446, 'brands', 0),
 ('items', 450, 'brands', 0),
 ('items', 451, 'brands', 0),
 ('items', 452, 'brands', 0),
 ('items', 453, 'brands', 0),
 ('items', 454, 'brands', 0),
 ('items', 456, 'brands', 0),
 ('items', 457, 'brands', 0),
 ('items', 459, 'brands', 0),
 ('items', 461, 'brands', 0),
 ('items', 463, 'brands', 0),
 ('items', 464, 'brands', 0),
 ('items', 466, 'brands', 0),
 ('items', 468, 'brands', 0),
 ('items', 471, 'brands', 0),
 ('items', 472, 'brands', 0),
 ('items', 473, 'brands', 0),
 ('items', 475, 'brands', 0),
 ('items', 476, 'brands', 0),
 ('items', 478, 'brands', 0),
 ('items', 480, 'brands', 0),
 ('items', 482, 'brands', 0),
 ('items', 484, 'brands', 0),
 ('items', 486, 'brands', 0),
 ('items', 487, 'brands', 0),
 ('items', 488, 'brands', 0),
 ('items', 493, 'brands', 0),
 ('items', 494, 'brands', 0),
 ('items', 495, 'brands', 0),
 ('items', 497, 'brands', 0),
 ('items', 499, 'brands', 0),
 ('items', 500, 'brands', 0),
 ('items', 503, 'brands', 0),
 ('items', 507, 'brands', 0),
 ('items', 513, 'brands', 0),
 ('items', 517, 'brands', 0),
 ('items', 519, 'brands', 0),
 ('items', 521, 'brands', 0),
 ('items', 522, 'brands', 0),
 ('items', 526, 'brands', 0),
 ('items', 527, 'brands', 0),
 ('items', 528, 'brands', 0),
 ('items', 529, 'brands', 0),
 ('items', 530, 'brands', 0),
 ('items', 532, 'brands', 0),
 ('items', 533, 'brands', 0),
 ('items', 535, 'brands', 0),
 ('items', 537, 'brands', 0),
 ('items', 539, 'brands', 0),
 ('items', 540, 'brands', 0),
 ('items', 542, 'brands', 0),
 ('items', 544, 'brands', 0),
 ('items', 547, 'brands', 0),
 ('items', 548, 'brands', 0),
 ('items', 549, 'brands', 0),
 ('items', 551, 'brands', 0),
 ('items', 552, 'brands', 0),
 ('items', 554, 'brands', 0),
 ('items', 556, 'brands', 0),
 ('items', 558, 'brands', 0),
 ('items', 560, 'brands', 0),
 ('items', 562, 'brands', 0),
 ('items', 563, 'brands', 0),
 ('items', 564, 'brands', 0),
 ('items', 570, 'brands', 0),
 ('items', 571, 'brands', 0),
 ('items', 573, 'brands', 0),
 ('items', 575, 'brands', 0),
 ('items', 576, 'brands', 0),
 ('items', 579, 'brands', 0),
 ('items', 580, 'brands', 0),
 ('items', 583, 'brands', 0),
 ('items', 588, 'brands', 0),
 ('items', 591, 'brands', 0),
 ('items', 593, 'brands', 0),
 ('items', 595, 'brands', 0),
 ('items', 597, 'brands', 0),
 ('items', 600, 'brands', 0),
 ('items', 601, 'brands', 0),
 ('items', 602, 'brands', 0),
 ('items', 603, 'brands', 0),
 ('items', 605, 'brands', 0),
 ('items', 609, 'brands', 0),
 ('items', 613, 'brands', 0),
 ('items', 614, 'brands', 0),
 ('items', 615, 'brands', 0),
 ('items', 617, 'brands', 0),
 ('items', 622, 'brands', 0),
 ('items', 623, 'brands', 0),
 ('items', 625, 'brands', 0),
 ('items', 626, 'brands', 0),
 ('items', 628, 'brands', 0),
 ('items', 629, 'brands', 0),
 ('items', 635, 'brands', 0),
 ('items', 636, 'brands', 0),
 ('items', 640, 'brands', 0),
 ('items', 643, 'brands', 0),
 ('items', 644, 'brands', 0),
 ('items', 647, 'brands', 0),
 ('items', 648, 'brands', 0),
 ('items', 650, 'brands', 0),
 ('items', 652, 'brands', 0),
 ('items', 654, 'brands', 0),
 ('items', 656, 'brands', 0),
 ('items', 659, 'brands', 0),
 ('items', 660, 'brands', 0),
 ('items', 666, 'brands', 0),
 ('items', 667, 'brands', 0),
 ('items', 668, 'brands', 0),
 ('items', 673, 'brands', 0),
 ('items', 674, 'brands', 0),
 ('items', 677, 'brands', 0),
 ('items', 678, 'brands', 0),
 ('items', 681, 'brands', 0),
 ('items', 690, 'brands', 0),
 ('items', 692, 'brands', 0),
 ('items', 694, 'brands', 0),
 ('items', 696, 'brands', 0),
 ('items', 700, 'brands', 0),
 ('items', 701, 'brands', 0),
 ('items', 703, 'brands', 0),
 ('items', 712, 'brands', 0),
 ('items', 713, 'brands', 0),
 ('items', 722, 'brands', 0),
 ('items', 726, 'brands', 0),
 ('items', 730, 'brands', 0),
 ('items', 732, 'brands', 0),
 ('items', 734, 'brands', 0),
 ('items', 735, 'brands', 0),
 ('items', 739, 'brands', 0),
 ('items', 740, 'brands', 0),
 ('items', 741, 'brands', 0),
 ('items', 742, 'brands', 0),
 ('items', 743, 'brands', 0),
 ('items', 745, 'brands', 0),
 ('items', 746, 'brands', 0),
 ('items', 748, 'brands', 0),
 ('items', 750, 'brands', 0),
 ('items', 752, 'brands', 0),
 ('items', 753, 'brands', 0),
 ('items', 755, 'brands', 0),
 ('items', 757, 'brands', 0),
 ('items', 760, 'brands', 0),
 ('items', 761, 'brands', 0),
 ('items', 762, 'brands', 0),
 ('items', 764, 'brands', 0),
 ('items', 765, 'brands', 0),
 ('items', 767, 'brands', 0),
 ('items', 769, 'brands', 0),
 ('items', 771, 'brands', 0),
 ('items', 773, 'brands', 0),
 ('items', 775, 'brands', 0),
 ('items', 776, 'brands', 0),
 ('items', 777, 'brands', 0),
 ('items', 782, 'brands', 0),
 ('items', 783, 'brands', 0),
 ('items', 784, 'brands', 0),
 ('items', 786, 'brands', 0),
 ('items', 788, 'brands', 0),
 ('items', 789, 'brands', 0),
 ('items', 792, 'brands', 0),
 ('items', 793, 'brands', 0),
 ('items', 796, 'brands', 0),
 ('items', 801, 'brands', 0),
 ('items', 804, 'brands', 0),
 ('items', 806, 'brands', 0),
 ('items', 808, 'brands', 0),
 ('items', 810, 'brands', 0),
 ('items', 813, 'brands', 0),
 ('items', 814, 'brands', 0),
 ('items', 815, 'brands', 0),
 ('items', 817, 'brands', 0),
 ('items', 822, 'brands', 0),
 ('items', 824, 'brands', 0),
 ('items', 825, 'brands', 0),
 ('items', 826, 'brands', 0),
 ('items', 848, 'brands', 0),
 ('items', 852, 'brands', 0),
 ('items', 854, 'brands', 0),
 ('items', 856, 'brands', 0),
 ('items', 857, 'brands', 0),
 ('items', 861, 'brands', 0),
 ('items', 862, 'brands', 0),
 ('items', 863, 'brands', 0),
 ('items', 864, 'brands', 0),
 ('items', 865, 'brands', 0),
 ('items', 867, 'brands', 0),
 ('items', 868, 'brands', 0),
 ('items', 870, 'brands', 0),
 ('items', 872, 'brands', 0),
 ('items', 874, 'brands', 0),
 ('items', 875, 'brands', 0),
 ('items', 877, 'brands', 0),
 ('items', 879, 'brands', 0),
 ('items', 882, 'brands', 0),
 ('items', 883, 'brands', 0),
 ('items', 884, 'brands', 0),
 ('items', 886, 'brands', 0),
 ('items', 887, 'brands', 0),
 ('items', 889, 'brands', 0),
 ('items', 891, 'brands', 0),
 ('items', 893, 'brands', 0),
 ('items', 895, 'brands', 0),
 ('items', 897, 'brands', 0),
 ('items', 898, 'brands', 0),
 ('items', 899, 'brands', 0),
 ('items', 900, 'brands', 0),
 ('items', 902, 'brands', 0),
 ('items', 904, 'brands', 0),
 ('items', 907, 'brands', 0),
 ('items', 910, 'brands', 0),
 ('items', 911, 'brands', 0),
 ('items', 914, 'brands', 0),
 ('items', 917, 'brands', 0),
 ('items', 920, 'brands', 0),
 ('items', 922, 'brands', 0),
 ('items', 924, 'brands', 0),
 ('items', 926, 'brands', 0),
 ('items', 929, 'brands', 0),
 ('items', 976, 'brands', 0),
 ('items', 977, 'brands', 0),
 ('items', 979, 'brands', 0),
 ('items', 981, 'brands', 0),
 ('items', 983, 'brands', 0),
 ('items', 985, 'brands', 0),
 ('items', 988, 'brands', 0),
 ('items', 989, 'brands', 0),
 ('items', 995, 'brands', 0),
 ('items', 996, 'brands', 0),
 ('items', 997, 'brands', 0),
 ('items', 1002, 'brands', 0),
 ('items', 1003, 'brands', 0),
 ('items', 1004, 'brands', 0),
 ('items', 1006, 'brands', 0),
 ('items', 1008, 'brands', 0),
 ('items', 1009, 'brands', 0),
 ('items', 1012, 'brands', 0),
 ('items', 1020, 'brands', 0),
 ('items', 1022, 'brands', 0),
 ('items', 1024, 'brands', 0),
 ('items', 1026, 'brands', 0),
 ('items', 1032, 'brands', 0),
 ('items', 1035, 'brands', 0),
 ('items', 1038, 'brands', 0),
 ('items', 1039, 'brands', 0),
 ('items', 1040, 'brands', 0),
 ('items', 1041, 'brands', 0),
 ('items', 1057, 'brands', 0),
 ('items', 1061, 'brands', 0),
 ('items', 1065, 'brands', 0),
 ('items', 1067, 'brands', 0),
 ('items', 1069, 'brands', 0),
 ('items', 1070, 'brands', 0),
 ('items', 1074, 'brands', 0),
 ('items', 1075, 'brands', 0),
 ('items', 1076, 'brands', 0),
 ('items', 1077, 'brands', 0),
 ('items', 1078, 'brands', 0),
 ('items', 1080, 'brands', 0),
 ('items', 1081, 'brands', 0),
 ('items', 1083, 'brands', 0),
 ('items', 1085, 'brands', 0),
 ('items', 1087, 'brands', 0),
 ('items', 1088, 'brands', 0),
 ('items', 1090, 'brands', 0),
 ('items', 1092, 'brands', 0),
 ('items', 1095, 'brands', 0),
 ('items', 1096, 'brands', 0),
 ('items', 1097, 'brands', 0),
 ('items', 1099, 'brands', 0),
 ('items', 1100, 'brands', 0),
 ('items', 1102, 'brands', 0),
 ('items', 1105, 'brands', 0),
 ('items', 1107, 'brands', 0),
 ('items', 1110, 'brands', 0),
 ('items', 1119, 'brands', 0),
 ('items', 1122, 'brands', 0),
 ('items', 1124, 'brands', 0),
 ('items', 1125, 'brands', 0),
 ('items', 1128, 'brands', 0),
 ('items', 1129, 'brands', 0),
 ('items', 1132, 'brands', 0),
 ('items', 1145, 'brands', 0),
 ('items', 1161, 'brands', 0),
 ('items', 1166, 'brands', 0),
 ('items', 1170, 'brands', 0),
 ('items', 1179, 'brands', 0),
 ('items', 1192, 'brands', 0),
 ('items', 1231, 'brands', 0),
 ('items', 1234, 'brands', 0),
 ('items', 1236, 'brands', 0),
 ('items', 1244, 'brands', 0),
 ('items', 1245, 'brands', 0),
 ('items', 1249, 'brands', 0),
 ('items', 1252, 'brands', 0),
 ('items', 1253, 'brands', 0),
 ('items', 1256, 'brands', 0),
 ('items', 1257, 'brands', 0),
 ('items', 1259, 'brands', 0),
 ('items', 1261, 'brands', 0),
 ('items', 1263, 'brands', 0),
 ('items', 1265, 'brands', 0),
 ('items', 1268, 'brands', 0),
 ('items', 1269, 'brands', 0),
 ('items', 1275, 'brands', 0),
 ('items', 1276, 'brands', 0),
 ('items', 1277, 'brands', 0),
 ('items', 1282, 'brands', 0),
 ('items', 1283, 'brands', 0),
 ('items', 1286, 'brands', 0),
 ('items', 1287, 'brands', 0),
 ('items', 1290, 'brands', 0),
 ('items', 1299, 'brands', 0),
 ('items', 1301, 'brands', 0),
 ('items', 1303, 'brands', 0),
 ('items', 1305, 'brands', 0),
 ('items', 1309, 'brands', 0),
 ('items', 1312, 'brands', 0),
 ('items', 1314, 'brands', 0),
 ('items', 1316, 'brands', 0),
 ('items', 1317, 'brands', 0),
 ('items', 1318, 'brands', 0),
 ('items', 1319, 'brands', 0),
 ('items', 1333, 'brands', 0),
 ('items', 1334, 'brands', 0),
 ('items', 1338, 'brands', 0),
 ('items', 1339, 'brands', 0),
 ('items', 1340, 'brands', 0),
 ('items', 1341, 'brands', 0),
 ('items', 1342, 'brands', 0),
 ('items', 1343, 'brands', 0),
 ('items', 1346, 'brands', 0),
 ('items', 1350, 'brands', 0),
 ('items', 1351, 'brands', 0),
 ('items', 1352, 'brands', 0),
 ('items', 1354, 'brands', 0),
 ('items', 1359, 'brands', 0),
 ('items', 1360, 'brands', 0),
 ('items', 1362, 'brands', 0),
 ('items', 1363, 'brands', 0),
 ('items', 1365, 'brands', 0),
 ('items', 1366, 'brands', 0),
 ('items', 1372, 'brands', 0),
 ('items', 1397, 'brands', 0),
 ('items', 1398, 'brands', 0),
 ('items', 1431, 'brands', 0),
 ('items', 1433, 'brands', 0),
 ('items', 1435, 'brands', 0),
 ('items', 1437, 'brands', 0),
 ('items', 1441, 'brands', 0),
 ('items', 1445, 'brands', 0),
 ('items', 1446, 'brands', 0),
 ('items', 1465, 'brands', 0),
 ('items', 1466, 'brands', 0),
 ('items', 1467, 'brands', 0),
 ('items', 1468, 'brands', 0),
 ('items', 1469, 'brands', 0),
 ('items', 1470, 'brands', 0),
 ('items', 1471, 'brands', 0),
 ('items', 1472, 'brands', 0),
 ('items', 1473, 'brands', 0),
 ('items', 1474, 'brands', 0),
 ('items', 1475, 'brands', 0),
 ('items', 1476, 'brands', 0),
 ('items', 1477, 'brands', 0),
 ('items', 1478, 'brands', 0),
 ('items', 1479, 'brands', 0),
 ('items', 1480, 'brands', 0),
 ('items', 1481, 'brands', 0),
 ('items', 1482, 'brands', 0),
 ('items', 1483, 'brands', 0),
 ('items', 1484, 'brands', 0),
 ('items', 1485, 'brands', 0),

#### The most error-full table is "items". Let's see how many empty references FK have in other tables (basically in a table "brands"), to be sure our SQL queries are returning at least somewhat meaningfull information.

In [40]:
result = %sql PRAGMA foreign_key_check(items);
df = result.DataFrame()
df.shape

 * sqlite:///fetch_rewards.db
Done.

(1842, 4)

In [41]:
%%sql
SELECT COUNT(rowid) from items;

 * sqlite:///fetch_rewards.db
Done.

[(9604,)]

#### 1842 out of 5753 is not terribly bad considering dummy data.

## We will proceed with SQL queries from here.

#### Top 5 Brands by receipts scanned for the last 7 months. 
*I did 7 months, as 1 month haven't had any results.*

In [42]:
%%sql
SELECT  brand_name,  DENSE_RANK () OVER (ORDER BY times_bought DESC) AS brand_rank
FROM (SELECT name brand_name, COUNT(*) times_bought FROM brands
      WHERE(  
                SELECT receipt_id FROM receipts
                WHERE dateScanned BETWEEN date('now','-7 month') AND date('now')
             )
      GROUP BY name)
LIMIT 5;

 * sqlite:///fetch_rewards.db
Done.

[('Baken-Ets', 1),
 ("Caleb's Kola", 1),
 ('Diabetic Living Magazine', 1),
 ('Dippin Dots Cereal', 1),
 ('Health Magazine', 1)]